# Agent configuration file
# Copy this file to config/env.yaml and fill in your real settings locally.

# Optional values: qwen, claude, google, openai, third_party
provider: "third_party"

api_key: "YOUR_API_KEY"

model: "qwen3-235b-a22b-instruct-2507" #"deepseek/deepseek-v3.2" 

# API base URL (optional, required for third-party platforms)
base_url: "https://openrouter.ai/api/v1"

# Temperature parameter (optional, default 0.7)
temperature: 0.7

# Maximum generation tokens (optional)
max_tokens: null
